<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Blogroulette</display-name>
  
  <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<servlet-class>de.saschascherrer.code.blogroulette.servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<servlet-class>de.saschascherrer.code.blogroulette.servlets.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCommentServlet</servlet-name>
  	<servlet-class>de.saschascherrer.code.blogroulette.servlets.AddCommentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MessageServlet</servlet-name>
  	<url-pattern>/GetMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMessageServlet</servlet-name>
  	<url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCommentServlet</servlet-name>
  	<url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
</web-app>
